body {
    font-family: 'Arial', sans-serif;
    background-image: url('https://static.vecteezy.com/system/resources/previews/007/164/537/original/fingerprint-identity-sensor-data-protection-system-podium-hologram-blue-light-and-concept-free-vector.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: right;
    height: 50vh;
    margin-left: 300px;
}

.card {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 40px;
    border-radius: 15px;
    justify-content: right;
    margin-left: 500px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 300px;
}

h1, h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 15px;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

.button {
    padding: 15px;
    font-size: 16px;
    color: white;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
}

a {
    color: #007BFF;
    text-decoration: none;
    margin-top: 10px;
}

a:hover {
    text-decoration: underline;
}
